body {
    background-color:black;
    font-family: 'Times roman'!important;
}

.navbar{
    background-color: gray !important; 
    color :yellowgreen !important;
}
.navbar-brand {
    color :yellow !important;
    font-style: italic;
    font-weight: 200;
    font-size: bolder ;
}


